<h1>Daftar</h1>
<form method="post" action="/register" class="form auth">
  <input name="name" placeholder="Nama" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <button>Daftar</button>
</form>
